*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    
    color: #ededed;
    background-color: #081b29;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px 20px 100px;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0pxx);
    opacity: 1;
  }
}
.navbar a{
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
}
.navbar a:hover{
  color: #0ef;
}
@keyframes slideTop{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0pxx);
    opacity: 1;
  }
}

#button{
  padding: 15px 30px;
  background-color: red;
  color: white;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 16px;
  margin-left: 100px;
}
#button:hover{
  background-color: #0ef;
  color: #000;
  cursor: pointer;
}
.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.image{
  width: 500px;
  height: 500px;
  background: url(assets/img.jfif) no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 7px #0ef;
  border-radius: 50%;
  animation: slideLeft 1s ease forwards;
}
.image:hover{
  box-shadow: 0 0 5px cyan,
  0 0 10px cyan, 0 0 50px cyan,
  0 0 50px cyan,0 0 10px cyan;
}
@keyframes slideLeft{
  0%{
    transform: translateX(400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0pxx);
    opacity: 1;
  }
}
.home_contant{
  max-width: 600px;
  margin-left: 8%;
  margin-top: 15%;
  animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
  0%{
    transform: translateX(-400px);
    opacity: 0;
  }
  100%{
    transform: translateX(0pxx);
    opacity: 1;
  }
}
.home_contant h1{
  font-size: 50px;
  color: whitesmoke;
  margin-bottom: 20px;
}
.home_contant span{
  color: #0ef;
}
.home_contant p{
  color: white;
  line-height: 22px;
}
.home_sci a{
  display: inline-block;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  padding: 8px;
  margin: 30px 15px 30px 0;
}
.home_sci a:hover{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn_box{
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #0ef,
  0 0 15px #0ef;
}
.btn_box:hover{
  box-shadow: 0 0 2px cyan,
  0 0 4px cyan, 0 0 8px cyan,
  0 0 16px cyan,0 0 32px cyan;
}

#about{
  padding-top: 180px;
  padding-bottom: 150px;
}

.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-between;
  padding: 70px 10% 0;
}
.about_img{
  width: 350px;
  height: 350px;
  background: url(assets/img1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 7px orange;
  border-radius: 50%;
}
.about_img:hover{
  box-shadow: 0 0 5px orange,
  0 0 10px orange, 0 0 50px orange,
  0 0 50px orange,0 0 10px orange;
}
.about_text h2{
  font-size: 60px;
}
.about_text h2 span{
  color: orange;
}
.about_text h4{
  font-size: 29;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about_text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.btn_box1{
  display: inline-block;
  padding: 12px 28px;
  background: orange;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px orange,
  0 0 15px orange;
}
.btn_box1:hover{
  box-shadow: 0 0 2px orange,
  0 0 4px orange, 0 0 8px orange,
  0 0 16px orange,0 0 32px orange;
}








#services{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 300px;
  margin-top: 100px;
}
.sub_title{
  text-align: center;
  font-size: 60px;
  padding-bottom: 100px;
}
.sub_title span{
  color: #9FE2BF;
}
.container{
  padding: 90px;
}
.service_listt{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.service_listt div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  border-width: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #9FE2BF,
  1px 1px 40px #9FE2BF;
}
.service_listt div i{
  font-size: 50px;
  margin-bottom: 30px;
  
}
.service_listt div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.service_listt div:hover{
  transform: translateY(-20px);
}
.service_listt div a{
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read{
  display: inline-block;
  padding: 12px 28px;
  background: #9FE2BF;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .5s;
  box-shadow: 0 0 5px #9FE2BF,
  0 0 25px #9FE2BF;
}
.read:hover{
  box-shadow: 0 0 2px #9FE2BF,
  0 0 4px #9FE2BF, 0 0 8px #9FE2BF,
  0 0 16px #9FE2BF,0 0 32px #9FE2BF;
}




.ConTact{
  margin-left: 100px;
  margin-right: 100px;
}
.contact-text{
    width: 100%;
}
.ConTact h2{
  font-size: 60px;
  line-height: 2;
  text-align: center;
  margin-bottom: 100px;
}
.ConTact h2 span{
  color: #8B8000;
}

.contact{
  display: flex;
}

.contact-text h4{
  margin: 15px 0;
  color: rgb(228, 228,228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p{
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 3rem;
}
.contact-list li{
  margin-bottom: 10px;
  display: block;
}
.contact-list i{
  display: inline-block;
  color: #8B8000;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color: #8B8000;
}
.contact-icons i{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #8B8000;
  border-radius: 50%;
  font-size: 20px;
  color: #8B8000;
  text-decoration: none;
  padding: 8px;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s *var(--1));
}
.contact-icons i:hover{
  background: #8B8000;
  color: #000;
  box-shadow: 0 0 20px #8B8000;
}



.contact-form form{
 position: relative;
}
.contact-form form input,form textarea{
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea{
  resize: none;
  height: 220px;
}
.contact-form form .send{
  display: inline-block;
  padding: 14px 60px;
  background: #8B8000;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .5s;
  box-shadow: 0 0 5px #8B8000,
  0 0 25px #8B8000;
}
.contact-form form .send:hover{
  box-shadow: 0 0 2px #8B8000,
  0 0 4px #8B8000, 0 0 8px  #8B8000,
  0 0 16px #8B8000,0 0 32px #8B8000;
}




.last_text p{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7,85, 91);
  font-weight: 300;
  margin-top: 70px;
}
.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.top i{
  color: #000;
  background: lime;
  font-size: 25px;
  padding: 10px;
  border-radius: 0.5rem;
}


